<div class="div">
    <!-- 
    <label class="label">I'am home component!!!!</label><br/>
    <button class="btn">Test!!!</button>

<ul>
    <li> {{p.num}}</li>
    <li> {{p.nom}}</li>
    <li> {{p.prenom}}</li>
</ul>  

<p>{{dirbonjour()}}</p> 
<br>

<ul>
    <li *ngIf="tab[0]%2 !=0 ; then si else sinon"></li>
    <ng-template #si>
        {{tab[0]}} est impair
    </ng-template>
    <ng-template #sinon>
        <li>{{tab[0]}} est pair</li>
    </ng-template>
    </ul>

    <ul>
        <li *ngFor="let elt of tab ; let i=index ; let isFirst=first">
             {{i}} : {{elt}} : {{isFirst}}
        </li>
    </ul>


    <ul>
        <ng-container *ngFor="let elt of moyenne">
        <ng-container [ngSwitch]="true">
            <li *ngSwitchCase="elt>=0 && elt<10">{{elt}} : echec</li>
            <li *ngSwitchCase="elt>=10 && elt<12">{{elt}} : Passable</li>
            <li *ngSwitchCase="elt>=12 && elt<14">{{elt}} : Assez Bien</li>
            <li *ngSwitchCase="elt>=14 && elt<16">{{elt}} : Bien</li>
            <li *ngSwitchDefault>{{elt}} : Excellent</li>
        </ng-container>
        </ng-container>
    </ul>



<div>
    <h3>Directives d'attribut</h3>
    <span [class.red]="true">Attribut prend la couleur rouge</span><br />
    <span [ngClass]="{'blue':true}">Attribut Change coleur en utilisant NgClass</span><br />
    <span [ngStyle]="{'font-size':'14px','color':'green'}">Attribut change Style en utilisant NgStyle</span>
    <br /><br />
    <span [class.cyan]="AfficheColor">Attribut prend la couleur en utilisant la variable afficheColor</span><br />
    <span [ngClass]="{'brown':AfficheColor}">Attribut Change coleur en utilisant NgClass</span><br />
    <input type="button" value="Changer Couleur" (click)="changeColor()" />
    <br /><br />
    <span [class.cyan]="AfficheColor">Attribut Change couleur via la variable afficheColor </span><br />
    <span [ngClass]="{'cyan':AfficheColor, 'red' : !AfficheColor}">Attribut Change coleur en utilisant NgClass</span><br />
    <br />
</div>




<div>
    <h1 [class.red]="true"> Démonstration des pipes basiques </h1>
    <h2 [class.blue]="true">Pipes Date </h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">
    Date complet: {{ dateAujourd }} <br/>
    Short Date: {{ dateAujourd | date: 'shortDate' }}<br/>
    Medium Date : {{ dateAujourd | date:'mediumDate' }}<br />
    Full Date : {{ dateAujourd | date:'fullDate' }}<br />
    Time : {{ dateAujourd | date:'HH:MM' }}<br />
    Time : {{ dateAujourd | date:'hh:mm:ss a' }}<br />
    Time : {{ dateAujourd | date:'hh:mm:ss p' }}<br />
    </div>

</div>



<div>
    <h1 [class.red]="true"> Démonstration des pipes basiques </h1>
    <h2 [class.blue]="true">Pipes Number </h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">

        Nombre non-formaté : {{nombre}}<br />
        2 nombres Decimales après virgule : {{nombre |number:'2.2-2'}}

    </div>

</div>



<div>
    <h1 [class.red]="true"> Démonstration des pipes basiques </h1>
    <h2 [class.blue]="true">Pipes Devise </h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">

        nombre non formaté : {{nombre}}<br />
        USD Doller($) : {{nombre |currency:'USD':true}}<br />
        USD Doller : {{nombre |currency:'USD':false}}<br />

    </div>

</div>



<div>
    <h1 [class.red]="true"> Démonstration des pipes basiques </h1>
    <h2 [class.blue]="true">Pipes Chaîne de caractères </h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">

    message brute: {{message}} <br/>
    Lettres en Majuscule: {{message | uppercase}}<br/>
    Lettres en miniscule: {{message | lowercase}}<br/>

    </div>

</div>




<div>
    <h1 [class.red]="true"> Démonstration des pipes basiques </h1>
    <h2 [class.blue]="true">Pipes Pourcentage </h2>
    <div [ngStyle]="{'text-size':'14px', 'color':'green'}">
      nombre non formaté : {{nombre}}<br />
      2 Place Formatting : {{nombre | percent :'.2'}}<br />

    </div>

</div>

-->

</div>

<div class="home-container">
    <div class="home-card">
        <span class="tp-badge">Travaux Pratiques</span>
        <h1 class="title">Les TP de Angular</h1>
        <hr class="home-divider" />
        <p class="home-subtitle">Explorez les concepts fondamentaux d'Angular à travers des exercices pratiques
            interactifs.</p>
        <div class="buttons-container">
            <button (click)="gotocalculs()" class="btn-modern btn-primary-modern">⚡ Calculs</button>
            <button (click)="gotojeu()" class="btn-modern btn-success-modern">🎮 Jeu</button>
            <button (click)="gotopipes()" class="btn-modern btn-info-modern">🔧 Pipes Demo</button>
        </div>
    </div>
</div>